<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{{ PRODUCT_NAME }}}</title>
    <style>
        body {
            margin: 0;
            background-color: #333333;
        }

        .game-container {
            height: 99vh;
            width: 100vw;
            max-width: 55vh;
            margin: 0 auto;
        }

        #game-canvas {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="game-container">
        <canvas id="game-canvas"></canvas>
    </div>

    <script src="Build/{{{ LOADER_FILENAME }}}"></script>
    <script>
        createUnityInstance(document.querySelector("#game-canvas"), {
            dataUrl: "Build/{{{ DATA_FILENAME }}}",
            frameworkUrl: "Build/{{{ FRAMEWORK_FILENAME }}}",
            codeUrl: "Build/{{{ CODE_FILENAME }}}",
            #if MEMORY_FILENAME
            memoryUrl: "Build/{{{ MEMORY_FILENAME }}}",
            #endif
            #if SYMBOLS_FILENAME
            symbolsUrl: "Build/{{{ SYMBOLS_FILENAME }}}",
            #endif
            streamingAssetsUrl: "StreamingAssets",
            companyName: "{{{ COMPANY_NAME }}}",
            productName: "{{{ PRODUCT_NAME }}}",
            productVersion: "{{{ PRODUCT_VERSION }}}",
        });
    </script>
</body>

</html>